* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: red 2px solid; */
  text-decoration: none;
  list-style-type: none;
}

body{
    height: 220vh;
}

.header {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  
  width: 100%;
  display: flex;
  padding: 0px 30px;
  box-shadow: rgba(12, 82, 153, 0.2) 0px 8px 24px;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  position: fixed;
}

.logo {
  width: 5em;
  padding: 10px 0px;
  margin: 0px;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar {
  gap: 30px;
}

.navbar-list {
  gap: 40px;
}

.navbar-list a {
  color: rgb(160, 20, 20);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.navbar-list a:hover {
  color: rgb(4, 64, 118);
}

.landpage {
  display: flex;
  width: 95%;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 120px;
  background-color: #fff1e0;
}

.landpage .cuadro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  width: 25%;
  padding: 20px;
  height: 30em;
  min-width: 350px;
  
}

.landpage .cuadro h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
}

.landpage .cuadro h4{
    font-family: 'Montserrat';
    font-size: 1em;
}


.landpage .imgcuadro {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 75%;
  background-image: url(/img/estudy.jpeg);
  background-position:center;
}


.landpage .boton{
    display: inline-block;
    background-color: #192a88;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    
    
}
