@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    list-style-type: none;
}

.header {
    display: flex;
    flex-direction: row;
    background: rgb(0, 255, 136);
    width: 100%;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    top: 0px;
    box-shadow: rgba(7, 7, 8, 0.2)0px 8px 24px;
}

.navbar__ul-li:hover {
    background: rgb(249, 249, 250);
    color: rgb(179, 32, 32);
}

.carrito__imagen {
    height: 50px;
    border: 1px solid;
    padding: 1px 13px;
    margin-top: 5px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    background: rgb(0, 255, 136);
    box-shadow: rgba(7, 7, 8, 0.2)0px 8px 24px;
}

.carrito__imagen:hover {
    background: rgb(35, 150, 251);
    color: rgb(49, 228, 172);
}
    
.navbar {
    gap: 100px;
}

.navbar__ul, .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.navbar__ul-li {
    height: 25px;
    padding: 4px 13px;
    color: rgb(160, 20, 20);
    border-radius: 10px;
    font-size: 14px;
    justify-content: center;
    text-decoration: none;
    box-shadow: rgba(12, 82, 153, 0.2)0px 8px 24px;
    cursor: pointer;
    box-shadow: rgba(7, 7, 8, 0.2)0px 8px 24px;
}

.header__imagen{
    height:80px;
    cursor: pointer;
}

.div {
    top: 200 px;
    background: rgb(255, 166, 0);
    display: flex;
    padding: 10px;
    border: 1px solid;
    height: 800px;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#hero{
    display: flex;
    padding: 100px 0;
    width: 90%;
    justify-content: space-around;

}
.hero__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px   ;

}

.hero__div h1{
    font-weight: 800;
    font-size: 45px;
    display: flex;
    flex-direction: column;

}

.hero__div p {
    font-weight: 300;
    font-size: 20px;
    max-width: 400px;
    color: cadetblue;
}

.contenedor_botones {
    display: flex;
    gap: 100px;

}

.contenedor_botones a {
    border: 2px solid rgb(35, 150, 251);
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 600;
    background: rgb(255, 166, 0);

    
}

.hero_img {
        width: 500px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 950px;
    padding: 30px 0;
    font-weight: 400;
    text-align: center;
    
}

.productos {
    display: flex;
    width: 100%;
    padding: 20px 10px;
    
    align-content: center;
    justify-content: center;
}

.ventajas {
    
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    width: 100%;
   
    padding: 30px 0;
    font-weight: 400;
    align-content: center;
    text-align: center;
    color: cadetblue;

}

.cards {
    display: flex;
    width: 100%;
    max-width:950px;
    align-content: center;
    justify-content: space-around;
    padding: 10px 10px;
    gap: 20px;


}

.cards__div-img {
    display: flex;
    width: 250px;
    padding: 10px 30px;
    align-content: center;
    justify-content: space-between;
    gap: 120px;

}

.cards__elements {
        padding: 10px 10px;
}

.footer__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        justify-content:space-between;
        flex-wrap: nowrap;
}

.footer__contact {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        max-width: 400px;
        font-size: 40px;

}

.footer__footer {
    display: flex;
    width: 100%;
    align-content: center;
    padding: 10px 30px;
    justify-content: center;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.footer__img {
    display: flex;
    flex-wrap: nowrap;
    max-height: 200px;   
    max-width: 200px;
}