@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    list-style-type: none;
}
body{
    height: 220vh;
}

header {
    background: gold;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 30px 0px 30px;
    box-shadow: rgba(12, 82, 153, 0.2)0px 8px 24px;
    align-items: center;
    justify-content: space-between;
    top: 0px;
}

.logo {
    height:60px;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.navbar {
    gap: 100px;
}

.navbar-list {
    gap: 50px;

}

.navbar-list a {
    color: rgb(160, 20, 20);
    font-size: 14px;
    text-decoration: none;
}

.navbar-list a:hover {
    color: rgb(4, 64, 118)
}

.carro {
    height: 25px;
    border: 1px solid;
    padding: 1px 13px;
    margin-top: 5px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    height: 22px;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(87, 198, 35);
}

.esta-parte {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}


.izquierda {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 24px;
}

.izquierda h1 {
    font-size: 32px;
    width: 80%;
    min-width: 300px;
    font-weight: 400;
    color: rgb(121, 97, 10);
}


.izquierda p {
    color: grey;
}

.izquierda a {
    color: #21a1c4;
    background-color: burlywood;
    width: 150px;
    padding: 8px 0px;
    border-radius: 10px;
    text-align: center;
}

.botones {
    display: flex;
    gap: 30px;
}

.derecha {
    display: flex;
    flex-direction:column;
    width: 50%;
    align-items: center;
    padding: 15px;
    
    gap: 150px;
}
.scroll{
        margin-top: 25px;
        padding: 70px 0;
        max-width: 1200px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
}